{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "printWidth": 100,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["clsx", "cn"]
}
