@import "tailwindcss";

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

:root {
  --background: #ffffff;
  --foreground: #1c172c;
  
  --card: #f9f8f9;
  --card-foreground: #1c172c;
  
  --popover: #ffffff;
  --popover-foreground: #1c172c;
  
  --primary: #0a6ced;
  --primary-foreground: #ffffff;
  
  --secondary: #f4f2f4;
  --secondary-foreground: #1c172c;
  
  --muted: #f4f2f4;
  --muted-foreground: #817a8e;
  
  --accent: #f0f0f3;
  --accent-foreground: #6e6e76;
  
  --neutral: #f9f8f9;
  --neutral-foreground: #1c172c;

  --success: #1a7c3a;
  --success-foreground: #ffffff;

  --error: #d83335;
  --error-foreground: #ffffff;

  --destructive: #d83335;
  --destructive-foreground: #ffffff;
  
  --border: #e9e6eb;
  --input: #e9e6eb;
  --ring: #71a9fe;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;
  --radius-xl: 0.5rem;
  --radius-2xl: 0.75rem;
  --radius-3xl: 1rem;
  --radius-full: 9999px;
}

.dark {
  --background: #151317;
  --foreground: #eceaef;
  
  --card: #1c191f;
  --card-foreground: #eceaef;
  
  --popover: #1c191f;
  --popover-foreground: #eceaef;
  
  --primary: #3a75e0;
  --primary-foreground: #ffffff;
  
  --secondary: #252228;
  --secondary-foreground: #eceaef;
  
  --muted: #252228;
  --muted-foreground: #63596b;
  
  --accent: #202023;
  --accent-foreground: #aeaeb2;
  
  --neutral: #1c191f;
  --neutral-foreground: #eceaef;

  --success: #01a66a;
  --success-foreground: #ffffff;

  --error: #e5484d;
  --error-foreground: #ffffff;

  --destructive: #e5484d;
  --destructive-foreground: #ffffff;
  
  --border: #322e36;
  --input: #322e36;
  --ring: #254a9c;
}

/* Base styles */
* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
} 